/* Rules for the entire sheet */

*{
  
   box-sizing: border-box;
}

body{
   background-color:#fff1e6 ;
}

header{
   background-color:#a5a58d ;
   padding-top: 10px;
   
}

footer{
   background-color: #42f5c2;
   padding-bottom: 9px;
   text-align: center;
}


ul{
   list-style-type: none;
 
}

a{
   text-decoration: none;
}

h2{
   text-align: center;
}

a:link {
   color: black;
 }

 a:visited {
   color: black;
 }

 a:hover {
   color: blue;
 }

.bottomname,
.bottomlink{
   font-size: 20px;
}
 





/* Class selectors */



.dark-font{
   font-family: 'Itim', cursive;
}

.light-font{
   font-family: 'Fjalla One', sans-serif;
   font-size: 18px;
}







 
/* @media */

 @media(min-width:320px) and (max-width:767px){

header{
   text-align: center;
  
}

ul{
   padding-left: 0px;
}

.nav li{
   padding:10px 0;
   font-weight: bold;
}

p{
   line-height: 1.5;
   padding: 0 20px;
   
  
}

.profile-pic{
  width: 300px;
  border-radius: 20%;
}


.portfolio{
   text-align: center;
}

.article img{
 width: 350px;
}


.bottom-nav{
   border-top: 2px solid red;
}

.bottom-nav li{
   display: inline;
   
   
}


ul .contact{
   display: none;
 }
 
 
 ul .home{
    display: none;
 }
 
 
 ul .porto{
    display: none;
 } 
 
 .bottomname{
    float: left;
 }
 
 .bottomlink{
    float:right;
 
    
 }




 }










@media(min-width:768px) and (max-width:1023px){

   header{
      text-align: center;
     
   }
   
   ul{
      padding: 0;
   }

   ul li{
      display: inline;
      padding: 0 30px;
      font-weight: bold;
   }


.profile-pic{
      float: right;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 15px;
      border-radius: 20%;
   }

   .light-font{
      padding-top: 50px;
    padding-left: 20px ;
    font-size: 25px;

   }

   .portfolio{
      text-align: center;
   }

.portfolio  .left {
  padding: 5px;
 float: left;
 width: 50%;
}


.portfolio   .right {
  padding: 5px;
   float: right;
   width: 50%;
  }
   .article img{
      width: 350px;
     }

     .bottom-nav{
      border-top: 2px solid red;
   }
   
   .bottomname{
      float: left;
   }

    ul .bottomlink{
       display: none;
     }

     .home,
     .contact,
     .porto{
        float: right;
     }

     footer p{
        font-size: 18px;
        width: 100%;
        
     }

}







@media(min-width:1024px){

h1{
   display: inline-block;
 
}
 header  ul{
   display: inline-block;
   float: right;
   padding-top: 10px;
   padding-right: 20px;
   padding-left: 20px;
}
header li{
   display: inline-block;
   padding-right: 20px;
   padding-left: 20px;
   font-weight: bold;
   
}

.profile-pic{
   float: right;
   padding-right: 20px;
   padding-bottom: 15px;
   padding-left: 15px;
   border-radius: 20%;
}


ul{
 padding: 0;

}


  

   .light-font{
      
    padding-left: 20px ;
    font-size: 25px;

   }


   


     
      


   .article img{
      width: 250px;
     }

}












/* Clear-Fix */
.group::after{
content: "";
  clear: both;
  display: table;
}
















