/* Rules for the entire sheet */

/*Tested Google Chrome, Fire Fox, and Mircosoft Edge.*/

*{
  
   box-sizing: border-box;
}

body{
   background-color:#fff1e6 ;
}

header{
   background-color:#a5a58d ;
   padding-top: 10px;
   
}

footer{
   background-color: #eddcd2;
   padding-bottom: 24px;
   text-align: center;
}


ul{
   list-style-type: none;
   margin-bottom: 0;
 
}

a{
   text-decoration: none;
}

h2{
   text-align: center;
}

a:link {
   color: black;
 }

 a:visited {
   color: black;
 }

 a:hover {
   color: blue;
 }

.bottomname,
.bottomlink{
   font-size: 20px;
}
 





/* Class selectors */



.dark-font{
   font-family: 'Itim', cursive;
}

.light-font{
   font-family: 'Fjalla One', sans-serif;
   font-size: 18px;
}


.text-font{
   font-family: 'Cormorant', serif;
}
   


.intro{
   background-color:#a5a58d;
   padding-top: 11px;
}




.bottomname,
.bottomlink{
   font-size: 20px;
}




 
/* @media */

 @media(min-width:320px) and (max-width:767px){

header{
   text-align: center;
  
}

ul{
   padding-left: 0px;
}

.nav li{
   padding:10px 0;
   font-weight: bold;
}

p{
   line-height: 1.5;
   padding: 0 20px;
   
  
}


.intro{
   text-align: center;
}

.profile-pic{
  width: 300px;
  border-radius: 20%;
}


.portfolio{
   text-align: center;
}

.article img{
 width: 90%;
}

.hobbies{
   text-align: center;
}
.hobbies img{
   width: 90%;
   
}


.bottom-nav{
   border-top: 2px solid#a5a58d;
}

.bottom-nav li{
   display: inline;
   
   
}


ul .contact{
   display: none;
 }
 
 
 ul .home{
    display: none;
 }
 
 
 ul .porto{
    display: none;
 } 


 ul .hobby{
   display: none;
} 

footer{
   padding-bottom: 40px;
}
 
 .bottomname{
    float: left;
    font-weight: bold;
    padding-top: 10px;
 }
 
 .bottomlink{
    float:right;
    font-weight: bold;
    padding-top: 10px;
 
    
 }




 }










@media(min-width:768px) and (max-width:1023px){

   header{
      text-align: center;
     
   }
   
   ul{
      padding: 0;
   }

   ul li{
      display: inline;
      padding: 0 30px;
      font-weight: bold;
   }


.profile-pic{
      float: right;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 15px;
      border-radius: 20%;
   }

   .light-font{
     
      
    padding-left: 20px ;
    font-size: 25px;

   }

   .portfolio{
      text-align: center;
   }

.portfolio  .left {
  padding: 5px;
 float: left;
 width: 50%;
}


.portfolio   .right {
  padding: 5px;
   float: right;
   width: 50%;
  }




  
   .article img{
      width: 70%;
     }




     .hobbies{
      text-align: center;
      position: relative;
   }
   .hobbies img{
      width: 70%;
      
   }


   .play{
      float: right;
      width: 50%;
   }

   .baseball{
      float: left;
      width: 50%;
   }

 



     

     .bottom-nav{
      border-top: 2px solid#a5a58d;
   }
   
   .bottomname{
      float: left;
      padding-top: 10px;
   }

    ul .bottomlink{
       display: none;
     }

     .home,
     .contact,
     .porto,
     .hobby{
        float: right;
        padding-top: 10px;
     }



     footer{
      padding-bottom: 40px;
   }

     footer p{
        font-size: 18px;
        width: 100%;
        
     }

}







@media(min-width:1024px){

h1{
   display: inline-block;
 
}
 header  nav{
   display: inline-block;
   float: right;
   padding-top: 10px;
   padding-right: 20px;
   padding-left: 20px;
}
header li{
   display: inline-block;
   padding-right: 20px;
   padding-left: 20px;
   font-weight: bold;
   
}

.light-font{
   padding-left: 50px;
   font-size: 30px;
}

.profile-pic{
   float: right;
   padding-right: 20px;
   padding-bottom: 15px;
   padding-left: 15px;
   border-radius: 20%;
}


ul{
 padding: 0;


}

ul li{
   padding: 0 30px;
   font-weight: bold;
}

.portfolio{
   text-align: center;
}

.portfolio .article{
   padding: 20px ;
}


.number-1{
   float: left;
   width: 33%;

}

.number-2{
   float: left;
   width: 33%;
}

.number-3{
   float: left;
   width: 33%;
}




.number-4{
   float: right;
   width: 33%;
}

.number-5{
   float: right;
   width: 33%;
}

.number-6{
   float: right;
   width: 33%;
}

.article img{
      width: 75%;
     }


     
   .hobbies img{
      width: 60%;
      
   }

   .hobbies{
      text-align: center;
   }


   .play{
      float: right;
      width: 50%;
   }


   .baseball{
      float: right;
      width: 50%;
   }

   


    
.bottom-nav{
   border-top: 2px solid#a5a58d;
 
   }
   
   .bottomname{
      float: left;
      padding-top: 10px;
   }

    ul .bottomlink{
       display: none;
     }

     .home,
     .contact,
     .porto,
     .hobby{
        float: right;
        padding-top: 10px;
        
     }


     footer{
        padding-bottom: 40px;
     }

     footer p{
        font-size: 18px;
        width: 100%;
        
     }





    

   }


/* Clear-Fix */
.group::after{
content: "";
  clear: both;
  display: table;
}
















