/* Rules for the entire sheet */

*{
  
   box-sizing: border-box;
}

body{
   background-color:#fff1e6 ;
}

header{
   background-color:#a5a58d ;
   padding-top: 10px;
   
}

footer{
   background-color: #42f5c2;
   padding-bottom: 9px;
   text-align: center;
}


ul{
   list-style-type: none;
 
}

a{
   text-decoration: none;
}

a:link {
   color: black;
 }

 a:visited {
   color: black;
 }

 a:hover {
   color: blue;
 }

.bottomname,
.bottomlink{
   font-size: 20px;
}
 





/* Class selectors */



.dark-font{
   font-family: 'Itim', cursive;
}

.light-font{
   font-family: 'Fjalla One', sans-serif;
   font-size: 18px;
}







 
/* @media */

 @media(min-width:320px) and (max-width:767px){

header{
   text-align: center;
  
}

ul{
   padding-left: 0px;
}

.nav li{
   padding:10px 0;
   font-weight: bold;
}

p{
   line-height: 1.5;
   padding: 0 20px;
   
  
}

.profile-pic{
  width: 300px;
  border-radius: 20%;
}


.portfolio{
   text-align: center;
}

.article img{
 width: 350px;
}

} 


.bottom-nav{
   border-top: 2px solid red;
}

.bottom-nav li{
   display: inline;
   
   
}

.bottomname{
   float: left;
}

.bottomlink{
   float:right;

   
}

@media(min-width:768px) and (max-width:1023px){

   header{
      text-align: center;
     
   }
   
   ul{
      padding: 0;
   }

   ul li{
      display: inline;
      padding: 0 30px;
   }


.profile-pic{
      float: right;
      padding-right: 20px;
      padding-bottom: 15px;
      padding-left: 15px;
      border-radius: 20%;
   }

   .light-font{
      padding-top: 50px;
    padding-left: 20px ;

   }




}











/* Clear-Fix */
.group::after{
content: "";
  clear: both;
  display: table;
}
















